Repository stackhpc/stackhpc-kayobe-config, pull requests merged in 2025-02, with the labels that each got.

#1483 Sync upstream master
  .github/workflows/stackhpc-pull-request.yml
  README.rst
  etc/kayobe/apt.yml
  etc/kayobe/bifrost.yml
  etc/kayobe/bmc.yml
  etc/kayobe/globals.yml
  etc/kayobe/infra-vms.yml
  etc/kayobe/kolla.yml
  etc/kayobe/openstack.yml
  etc/kayobe/overcloud-dib.yml
  etc/kayobe/proxy.yml
  etc/kayobe/seed-vm.yml
  setup.cfg
Labels: size: l, kolla

#1484 Master: Find/Replace Jammy/Noble
  .github/workflows/ipa-image-build.yml
  .github/workflows/ipa-image-promote.yml
  .github/workflows/multinode-inputs.py
  .github/workflows/overcloud-host-image-build.yml
  .github/workflows/overcloud-host-image-promote.yml
  .github/workflows/overcloud-host-image-upload.yml
  .github/workflows/stackhpc-build-kayobe-image.yml
  .github/workflows/stackhpc-container-image-build.yml
  .github/workflows/stackhpc-multinode.yml
  .github/workflows/stackhpc-pull-request.yml
  etc/kayobe/ansible/ubuntu-upgrade.yml
  etc/kayobe/apt.yml
  etc/kayobe/cephadm.yml
  etc/kayobe/environments/aufn-ceph/globals.yml
  etc/kayobe/environments/aufn-ceph/kolla/config/bifrost/bifrost.yml
  etc/kayobe/environments/ci-aio/globals.yml
  etc/kayobe/environments/ci-aio/stackhpc-ci.yml
  etc/kayobe/environments/ci-builder/stackhpc-ci.yml
  etc/kayobe/environments/ci-multinode/globals.yml
  etc/kayobe/environments/ci-multinode/stackhpc-ci.yml
  etc/kayobe/inventory/group_vars/cis-hardening/cis
  etc/kayobe/inventory/group_vars/wazuh-manager/wazuh-manager
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla.yml
  etc/kayobe/kolla/kolla-build.conf
  etc/kayobe/pulp-host-image-versions.yml
  etc/kayobe/pulp-ipa-image-versions.yml
  etc/kayobe/pulp-repo-versions.yml
  etc/kayobe/pulp.yml
  etc/kayobe/stackhpc-ipa-images.yml
  etc/kayobe/stackhpc-overcloud-host-images.yml
  etc/kayobe/stackhpc.yml
Labels: workflows, ansible, size: l, kolla

#1486 Master: switch from Reef to Squid
  doc/source/conf.py
  doc/source/configuration/cephadm.rst
  etc/kayobe/apt.yml
  etc/kayobe/cephadm.yml
  etc/kayobe/environments/ci-aio/stackhpc-ci.yml
  etc/kayobe/environments/ci-builder/stackhpc-ci.yml
  etc/kayobe/environments/ci-multinode/stackhpc-ci.yml
  etc/kayobe/kolla.yml
  etc/kayobe/pulp-repo-versions.yml
  etc/kayobe/pulp.yml
  etc/kayobe/stackhpc.yml
  releasenotes/notes/ceph-squid-1f83652e6ad23b55.yaml
Labels: documentation, size: s, kolla

#1485 Bump neutron to fix PID clean up
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/fix-neutron-keepalived-pid-cleanup-5faae4cf78b07f89.yaml
Labels: size: s, kolla

#1489 Fix SB relay container tag checking
  tools/kolla-images.py
Labels: size: xs, kolla

#1491 Update rabbitmq-reset for Epoxy
  etc/kayobe/ansible/rabbitmq-reset.yml
Labels: ansible, size: s

#1496 Master: Update pulp repo versions to latest
  etc/kayobe/pulp-repo-versions.yml
Labels: size: m

#1492 Master changes from upstream release notes
  doc/source/operations/upgrading-openstack.rst
  etc/kayobe/environments/aufn-ceph/kolla/inventory/overcloud-services.j2
  etc/kayobe/environments/ci-builder/inventory/groups
  etc/kayobe/inventory/groups
  etc/kayobe/kolla/inventory/group_vars/prometheus-blackbox-exporter
  etc/kayobe/pulp.yml
  releasenotes/notes/blackbox-updates-db81e29a45063a42.yaml
  releasenotes/notes/drop-rl-minor-versions-5165c194df3fb516.yaml
Labels: documentation, monitoring, workflows, size: m, kolla

#1498 Fix broken links in docs
  doc/source/operations/upgrading-openstack.rst
Labels: documentation, size: xs

#1488 Bump Horizon image to include updated cloudkitty dashboard
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/bump-horizon-cloudkitty-dashboards-e94f706d5a993cc9.yaml
Labels: size: xs, kolla

#1431 Add support for Amphora images in StackHPC Release Train
  .github/workflows/amphora-image-build.yml
  .github/workflows/amphora-image-promote.yml
  etc/kayobe/ansible/octavia-amphora-image-build.yml
  etc/kayobe/ansible/octavia-amphora-image-register.yml
  etc/kayobe/ansible/pulp-amphora-image-download.yml
  etc/kayobe/stackhpc.yml
Labels: Caracal, workflows, size: l

#1500 Document breaking Keystone LDAP TLS change
  doc/source/operations/upgrading-openstack.rst
Labels: documentation, size: xs

#1503 Bump neutron images to fix #2097770
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/revert-track-all-interfaces-in-keepalived-41ef4834b7659af4.yaml
Labels: size: s, kolla

#1502 Kolla image build for SMS & Leafcloud runners
  .github/workflows/runner-selector.yml
  .github/workflows/stackhpc-container-image-build.yml
  etc/kayobe/ansible/pulp-artifact-upload.yml
  terraform/aio/vm.tf
Labels: workflows, ansible, size: m

#1507 Support for SMS & Leafcloud runner builds
  .github/workflows/ipa-image-build.yml
  .github/workflows/overcloud-host-image-build.yml
Labels: workflows, size: m

#1516 fix: typo `ansble` -> `ansible`
  etc/kayobe/ansible/octavia-amphora-image-register.yml
Labels: ansible, size: xs

#1518 Fix Launchpad link in release note
  releasenotes/notes/bump-glance-to-fix-bug-2086675-303542d3208103b9.yaml
Labels: size: xs

#1520 Revert monitoring Kolla config to upstream default
  etc/kayobe/kolla/config/fluentd/output/00-local.conf
  etc/kayobe/kolla/config/fluentd/output/03-opensearch.conf
  etc/kayobe/kolla/config/prometheus/prometheus-blackbox-exporter.yml
  etc/kayobe/kolla/kolla-build.conf
  releasenotes/notes/pin-deps-c93f3c1d92ce2942.yaml
Labels: monitoring, size: m, kolla

#1464 feat: disable `TMOUT` for development environments
  etc/kayobe/environments/ci-aio/inventory/group_vars/cis-hardening/cis
  etc/kayobe/environments/ci-multinode/inventory/group_vars/cis-hardening/cis
  releasenotes/notes/remove-tmout-for-dev-env-0778550b353dce03.yaml
Labels: enhancement, size: s

#1501 Incorporate separate StackHPC cloud tests for monitoring and for hosts
  .github/workflows/stackhpc-all-in-one.yml
  etc/kayobe/ansible/stackhpc-cloud-tests.yml
  etc/kayobe/inventory/group_vars/all/selinux
Labels: workflows, ansible, size: m

#1469 DOCA workflow support
  .github/workflows/package-build-ofed.yml
  doc/source/contributor/ofed.rst
  etc/kayobe/ansible/build-ofed-rocky.yml
  etc/kayobe/ansible/install-doca.yml
  etc/kayobe/ansible/push-ofed.yml
  etc/kayobe/dnf.yml
  etc/kayobe/environments/ci-aio/stackhpc-ci.yml
  etc/kayobe/environments/ci-builder/inventory/hosts
  etc/kayobe/environments/ci-builder/stackhpc-ci.yml
  etc/kayobe/environments/ci-doca-builder/.kayobe-environment
  etc/kayobe/environments/ci-doca-builder/controllers.yml
  etc/kayobe/environments/ci-doca-builder/inventory/group_vars/ofed-builder/lvm.yml
  etc/kayobe/environments/ci-doca-builder/inventory/hosts
  etc/kayobe/environments/ci-doca-builder/seed.yml
  etc/kayobe/environments/ci-doca-builder/stackhpc-ci.yml
  etc/kayobe/inventory/groups
  etc/kayobe/ofed.yml
  etc/kayobe/pulp-repo-versions.yml
  etc/kayobe/pulp.yml
  etc/kayobe/stackhpc.yml
  releasenotes/notes/doca-workflow-017931dbfd580b41.yaml
Labels: documentation, workflows, ansible, size: l

#1522 fix: use `volumev3` as `catalog_type`
  .automation.conf/tempest/tempest-ci-aio.overrides.conf
  .automation.conf/tempest/tempest-ci-multinode.overrides.conf
Labels: size: xs, kayobe-automation

#1523 Bump nova-compute-ironic images to fix bug 2019977
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/bug-2019977-456bbf34fed3f090.yaml
Labels: size: xs, kolla

#1521 Fix kolla images script
  tools/kolla-images.py
Labels: size: xs, kolla

#1528 Fix release notes for ovn bump
  releasenotes/notes/update-ovs-ovn-rocky9-2024.1-a1025a7130d9c647.yaml
Labels: size: xs

#1529 Fix rabbitmq paths to match Ark
  etc/kayobe/pulp.yml
Labels: size: xs

#1509 SMS & Leafcloud runner choice for workflows
  .github/workflows/amphora-image-build.yml
  .github/workflows/overcloud-host-image-upload.yml
  .github/workflows/stackhpc-ci-cleanup.yml
Labels: workflows, size: m

#1525 Docs: Magnum templates are tied to Azimuth release
  doc/source/configuration/magnum-capi.rst
Labels: documentation, size: xs

#1510 Bump Ironic to expand check_cipher_suite_errors
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/ironic-expand-check_cipher_suite_errors-c8915956be17a28c.yaml
Labels: size: s, kolla

#1531 Match job name of OS Capacity to what Azimuth expects
  etc/kayobe/kolla/config/prometheus/prometheus.yml.d/70-oscapacity.yml
  releasenotes/notes/fix-os-capacity-prometheus-job-name-for-azimuth-cloud-metrics-39cf81eebe16b879.yaml
Labels: bug, Caracal, monitoring, backport, size: xs

#1034 Magnum bump
  etc/kayobe/kolla/globals.yml
  releasenotes/notes/bump-magnum-1fd3f09aba5503c8.yaml
Labels: enhancement, yoga, magnum

#1490 Upgrade docs: reminder about custom policies
  doc/source/operations/upgrading-openstack.rst
Labels: documentation, size: xs

#1537 Add information about using Amphora from SRT
  doc/source/operations/octavia.rst
  doc/source/operations/upgrading-openstack.rst
Labels: documentation, Caracal, size: m

#1536 Deploy OS capacity after overcloud service upgrade
  doc/source/operations/upgrading-openstack.rst
  etc/kayobe/hooks/overcloud-service-upgrade/post.d/deploy-os-capacity-exporter.yml
Labels: size: s

#1538 Fix handler notify in fix-houston.yml
  etc/kayobe/ansible/fix-houston.yml
  releasenotes/notes/fix-fix-houston-notify-165a7871bda48f68.yaml
Labels: ansible, size: xs

#1532 Automate Kolla version updates
  .github/workflows/update-dependencies.yml
  etc/kayobe/stackhpc.yml
  releasenotes/notes/kolla-dependency-workflow-6ff5520ee0ab8e15.yaml
  requirements.txt
Labels: workflows, size: m
