Repository stackhpc/stackhpc-kayobe-config, pull requests merged in 2025-08, with the labels that each got.

#1821 Build keystone from downstream fork
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla.yml
Labels: size: xs, kolla

#1819 Epoxy: Update Magnum CAPI Helm driver
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla.yml
  releasenotes/notes/update-magnum-capi-driver-c85135340731a86a.yaml
Labels: magnum, size: s, kolla, Epoxy

#1820 Do not trigger CI when PR is a draft
  .github/workflows/stackhpc-pull-request.yml
Labels: workflows, size: s

#1705 Refactor AIO script and fix for Epoxy
  doc/source/contributor/environments/ci-aio.rst
  etc/kayobe/environments/ci-aio/automated-setup.sh
Labels: documentation, size: l
