Repository stackhpc/stackhpc-kayobe-config, pull requests merged in 2025-01, with the labels that each got.

#1434 Fix NONE/503 errors in Squid proxy
  etc/kayobe/containers/squid_proxy/squid.conf
  releasenotes/notes/fix-squid-issue-11b5f03719ab8b45.yaml
Labels: enhancement, size: xs

#1438 Document rotation of the overcloud vault cert
  doc/source/configuration/vault.rst
Labels: documentation, size: m

#1437 2024.1 upgrade docs: delete Heat endpoints
  doc/source/operations/upgrading-openstack.rst
Labels: documentation, Caracal, size: xs

#1444 Bump Cephadm collection
  etc/kayobe/ansible/requirements.yml
  releasenotes/notes/bump-ansible-collection-cephadm-2a6c988a34b192a6.yaml
Labels: ansible, size: xs

#1445 feat(wazuh): Add JVM proxy configuration for Slack notifications
  etc/kayobe/ansible/wazuh-manager.yml
Labels: ansible, size: s

#1446 Remove proxy configuration from Wazuh manager playbook
  etc/kayobe/ansible/wazuh-manager.yml
Labels: ansible, size: s

#1442 Fix dangerous wazuh secrets templating
  etc/kayobe/ansible/templates/wazuh-secrets.yml.j2
Labels: ansible, size: xs

#1443 Add minor upgrade option to MN deploy workflow
  .github/workflows/multinode-inputs.py
  .github/workflows/stackhpc-multinode.yml
Labels: workflows, size: s

#1440 Ubuntu update december
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/pulp-repo-versions.yml
  releasenotes/notes/ubuntu-refresh-december-998f4c2d2bd0032b.yaml
Labels: size: s, kolla

#1449 Bump actions/checkout to v4
  .github/workflows/stackhpc-pull-request.yml
Labels: workflows, size: xs

#1451 Cherry-pick multinode changes to stackhpc/2023.1
  .github/workflows/multinode-inputs.py
  .github/workflows/stackhpc-multinode-periodic.yml
  .github/workflows/stackhpc-multinode.yml
Labels: workflows, size: s

#1295 CI: Clean up periodic multinode instances on CI hosting cloud
  .github/workflows/stackhpc-ci-cleanup.yml
  .github/workflows/stackhpc-multinode.yml
Labels: Caracal, workflows, size: s

#1459 Bump Cephadm collection in Antelope
  etc/kayobe/ansible/requirements.yml
  releasenotes/notes/bump-ansible-collection-cephadm-2a6c988a34b192a6.yaml
Labels: ansible, size: xs

#1457 Correct permissions on Wazuh alerts manifest
  etc/kayobe/ansible/wazuh-manager.yml
Labels: ansible, size: xs

#1458 Bump to wazuh-ansible v4.10.0
  doc/source/configuration/wazuh.rst
  etc/kayobe/ansible/requirements.yml
  releasenotes/notes/wazuh-ansible-v4.10.0-ed5209199194cddf.yaml
Labels: ansible, size: s

#1461 (doc)wazuh: Update encryption pattern for private keys
  doc/source/configuration/wazuh.rst
Labels: documentation, size: xs

#1460 Fix growroot LVM check
  etc/kayobe/ansible/growroot.yml
Labels: ansible, size: xs

#1416 OC host image modifications
  etc/kayobe/pulp-host-image-versions.yml
  etc/kayobe/stackhpc-overcloud-dib.yml
  releasenotes/notes/grub_timeout_values-c39b8b1a2c34a602.yaml
Labels: size: s

#1462 Apply omitted prometheus template bug fix
  etc/kayobe/ansible/prometheus.yml.j2
  releasenotes/notes/apply-prometheus-template-fix-4ec4ee6c2785bfea.yaml
Labels: bug, antelope, ansible, size: xs

#1452 Fix download of IPA images from Ark
  etc/kayobe/ipa.yml
Labels: size: xs

#1454 Added parameters to AIO and image build workflows to be reused by external CI
  .github/workflows/stackhpc-all-in-one.yml
  etc/kayobe/ansible/stackhpc-openstack-tests.yml
Labels: workflows, size: s

#1467 AIO failures now reported in actions logs
  etc/kayobe/ansible/stackhpc-openstack-tests.yml
Labels: workflows, ansible, size: xs

#1468 Rebuild nova-compute image to address bug 2091033
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla.yml
  releasenotes/notes/nova-bug-2091033-4f54893f67af5c7c.yaml
Labels: size: s, kolla

#1470 Fixed pytest output options not being specified
  .github/path-filters.yml
  etc/kayobe/ansible/stackhpc-openstack-tests.yml
Labels: workflows, ansible, size: xs

#1472 Enable extra collectors for StackHPC IPA images
  etc/kayobe/ipa.yml
  releasenotes/notes/fix-ipa-collectors-f7afc852d5005282.yaml
Labels: size: xs

#1466 Pulp playbook that syncs everything
  etc/kayobe/ansible/pulp-sync-publish-promote.yml
  releasenotes/notes/pulp-sync-publish-promote-playbook-b638be7c77a649dd.yaml
Labels: ansible, size: s

#1456 Rename stackhpc-openstack-tests
  .github/workflows/stackhpc-all-in-one.yml
  doc/source/contributor/testing-ci-automation.rst
  etc/kayobe/ansible/stackhpc-cloud-tests.yml
Labels: documentation, workflows, ansible, size: m

#1432 Use Caracal's Magnum
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla.yml
  etc/kayobe/kolla/globals.yml
  releasenotes/notes/update-magnum-containers-8814b1425ec45fc0.yaml
Labels: Caracal, magnum, size: s

#1475 feat: enable building of `neutron_bgp_dragent`
  etc/kayobe/environments/ci-builder/stackhpc-ci.yml
  releasenotes/notes/enable-build-of-neutron-dragent-14897d9744c7de1f.yaml
Labels: enhancement, Caracal, size: xs

#1477 Rebuild nova-compute image to address bug 2091033
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/nova-bug-2091033-4f54893f67af5c7c.yaml
Labels: size: s, kolla

#1474 Add ironic-prometheus-exporter
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla.yml
  etc/kayobe/pulp.yml
  releasenotes/notes/ironic-prometheus-exporter-f9301ef233d47291.yaml
Labels: size: s, kolla

#1478 Bump neutron to fix PID clean up
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/fix-neutron-keepalived-pid-cleanup-5faae4cf78b07f89.yaml
Labels: Caracal, size: xs, kolla

#1479 Make runs-on a variable
  .github/workflows/stackhpc-all-in-one.yml
Labels: workflows, size: xs

#1480 feat: automatic update of workflows stackhpc/master
  .github/workflows/tag-and-release.yml
Labels: stackhpc-ci, workflows, size: xs

#1481 Add OVN SB Relays
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla.yml
  etc/kayobe/pulp.yml
  releasenotes/notes/ovn-sb-db-relay-81f57bc173299913.yaml
Labels: size: s, kolla
