Repository stackhpc/stackhpc-kayobe-config, pull requests merged in 2025-05, with the labels that each got.

#1624 Support Jammy to Noble upgrade
  doc/source/operations/index.rst
  doc/source/operations/ubuntu-noble.rst
  etc/kayobe/ansible/ubuntu-upgrade.yml
  tools/ubuntu-upgrade-overcloud.sh
  tools/ubuntu-upgrade-seed-hypervisor.sh
  tools/ubuntu-upgrade-seed.sh
Labels: Caracal, ansible, size: l

#1634 Add conditional https to rgw docs
  doc/source/configuration/cephadm.rst
Labels: documentation, size: xs

#1620 Migrate RabbitMQ queues in ci-aio
  .github/workflows/stackhpc-all-in-one.yml
Labels: workflows, size: s

#1327 INFRA-388 Converting smartmon into python and adding mock tests
  etc/kayobe/ansible/scripts/generate_fixtures.py
  etc/kayobe/ansible/scripts/smartmon.py
  etc/kayobe/ansible/scripts/smartmon.sh
  etc/kayobe/ansible/scripts/test_smartmon.py
  etc/kayobe/ansible/scripts/tests/Dell_ENT_NVMe_CM6.json
  etc/kayobe/ansible/scripts/tests/nvme.json
  etc/kayobe/ansible/smartmon-tools.yml
Labels: enhancement, Caracal, monitoring, size: l

#1632 RabbitMQ 4.0
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/rabbitmq-4.0-52657c95567fc457.yaml
Labels: size: xs, kolla

#1638 Fix Neutron endpoint used in Octavia OVN provider
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla.yml
  releasenotes/notes/ovn-octavia-provider-bug-2049551-c95d69965733cd78.yaml
Labels: size: s, kolla

#1639 Fix whitespace issues
  .github/workflows/runner-selector.yml
  etc/kayobe/environments/aufn-ceph/a-universe-from-nothing.sh
  etc/kayobe/environments/aufn-ceph/configure-openstack.sh
  etc/kayobe/environments/ci-multinode/kolla/config/keepalived/keepalived.conf
  etc/kayobe/inventory/group_vars/overcloud/stackhpc-repos
  etc/kayobe/kolla/config/prometheus/prometheus-alertmanager.yml.example
  releasenotes/notes/add-caso-f36b98453be10169.yaml
  releasenotes/notes/add-rekey-playbook-0065c5057b1639f8.yaml
  releasenotes/notes/add-rocky-9-packages-43074cb3367171a5.yaml
  releasenotes/notes/add-vm-overcloud-support-92baa7c2ce87ac1d.yaml
  releasenotes/notes/bump-rocky-9-90412343a29bc45b.yaml
  releasenotes/notes/bumps-redfish-exporter-to-v2-11032fb9dde36283.yaml
  releasenotes/notes/disable-heat-03f3ac52ac610223.yaml
  releasenotes/notes/docker-bump-dc4e85668ee69a21.yaml
  releasenotes/notes/feature-smartmon-65cacfe893f0eb47.yaml
  releasenotes/notes/fix-cephadm-facts-2ee6dc9a1c617944.yaml
  releasenotes/notes/kolla-bump-cve-2024-36039-07f18e18b5c86980.yaml
  releasenotes/notes/ubuntu-jammy-cd109d12954d7626.yaml
  releasenotes/notes/update-kayobe-automation-55fc9c5c380d819c.yaml
  tools/rabbitmq-queue-migration.sh
Labels: monitoring, workflows, size: s

#1640 fix: add missing `openbao` distribution
  etc/kayobe/pulp.yml
Labels: size: xs

#1551 Kolla-Ansible/Kayobe version enforcement
  .ansible-lint-ignore
  etc/kayobe/ansible/check-kayobe-version.yml
  etc/kayobe/ansible/check-kolla-ansible-version.yml
  etc/kayobe/hooks/control-host-bootstrap/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/control-host-upgrade/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/infra-vm-host-configure/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/infra-vm-host-configure/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/infra-vm-service-deploy/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/infra-vm-service-deploy/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/overcloud-host-configure/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/overcloud-host-configure/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/overcloud-host-upgrade/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/overcloud-host-upgrade/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/overcloud-service-deploy/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/overcloud-service-deploy/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/overcloud-service-reconfigure/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/overcloud-service-reconfigure/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/overcloud-service-upgrade/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/overcloud-service-upgrade/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/seed-host-configure/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/seed-host-configure/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/seed-hypervisor-host-configure/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/seed-hypervisor-host-configure/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/hooks/seed-service-deploy/pre.d/check-kayobe-version.yml
  etc/kayobe/hooks/seed-service-deploy/pre.d/check-kolla-ansible-version.yml
  etc/kayobe/stackhpc.yml
  releasenotes/notes/kolla-kayobe-version-check-f44d43c9c34d1b89.yaml
Labels: ansible, size: m

#1642 Fix duplicate metrics from radosgw_usage_exporter
  etc/kayobe/ansible/deploy-radosgw-usage-exporter.yml
  releasenotes/notes/fix-radosgw-usage-exporter-duplicate-metrics-ca96b3e4b9d6afe9.yaml
Labels: ansible, size: xs

#1641 CI: Remove Ubuntu OVS, add RL9 OVS upgrade cases
  .github/workflows/stackhpc-pull-request.yml
Labels: workflows, size: m

#1648 Fix PCI passthrough default templates
  etc/kayobe/ansible/pci-passthrough.yml
  etc/kayobe/kolla/config/nova/nova-api.conf
  etc/kayobe/kolla/config/nova/nova-compute.conf
  releasenotes/notes/fix-pci-default-template-8660ab2a7a106376.yaml
Labels: ansible, size: s

#1649 CI: Replace next_nth_usable with FQCN
  etc/kayobe/environments/ci-multinode/inventory/group_vars/all/vxlan.yml
Labels: size: xs

#1654 CI: Avoid dependency updates in forks
  .github/workflows/update-dependencies.yml
Labels: workflows, size: xs

#1579 fix: use `rabbitmq` length for `RabbitMQNodeDown`
  etc/kayobe/kolla/config/prometheus/rabbitmq.rules
  etc/kayobe/stackhpc-monitoring.yml
  releasenotes/notes/use-length-for-rabbitmq-node-down-rule-c9e9c6b09f57954d.yaml
Labels: monitoring, size: s

#1646 Make SMS the default runner environment
  .github/workflows/stackhpc-all-in-one.yml
Labels: workflows, size: s

#1655 Document RabbitMQ queue migrations in 2025.1
  doc/source/operations/upgrading-openstack.rst
Labels: documentation, size: s

#1667 Set check_mode to false for Kayobe/Kolla-Ansible version checks
  etc/kayobe/ansible/check-kayobe-version.yml
  etc/kayobe/ansible/check-kolla-ansible-version.yml
Labels: ansible, size: xs

#1669 Bump Ceph Reef container image to v18.2.7
  etc/kayobe/cephadm.yml
  releasenotes/notes/ceph-reef-18.2.7-9d8d3ad3a1ea517b.yaml
Labels: size: xs

#1674 Fix release note link format
  releasenotes/notes/bump-ovs-ovn-rocky9-2024.1-eb5a42d9f890d3cd.yaml
Labels: size: xs
