Repository stackhpc/stackhpc-kayobe-config, pull requests merged in 2025-04, with the labels that each got.

#1594 Bump Ceph to v19.2.1
  etc/kayobe/cephadm.yml
  releasenotes/notes/bump-ceph-to-19-2-1-878ae64bf5420893.yaml
Labels: size: s, Epoxy

#1576 Add a confirmation prompt to reboot.yml
  etc/kayobe/ansible/reboot.yml
  etc/kayobe/environments/aufn-ceph/globals.yml
  etc/kayobe/environments/ci-aio/globals.yml
  etc/kayobe/environments/ci-builder/globals.yml
  etc/kayobe/environments/ci-doca-builder/globals.yml
  etc/kayobe/environments/ci-multinode/globals.yml
  releasenotes/notes/add-confirmation-prompt-to-reboot.yml-4fd1ae8e8d360e57.yaml
Labels: workflows, ansible, size: m

#1596 Remove .git for glance_store override to fix pip dependency conflict
  etc/kayobe/kolla.yml
Labels: Caracal, size: xs, kolla

#1605 Beokay usage documentation
  doc/source/usage.rst
Labels: documentation, Caracal, size: s

#1604 Fix selinux error in upgrade jobs
  .github/workflows/stackhpc-all-in-one.yml
Labels: workflows, size: xs

#1601 Fix ssh in Ubuntu overcloud host images
  etc/kayobe/pulp-host-image-versions.yml
  etc/kayobe/pulp-repo-versions.yml
  releasenotes/notes/fix-ssh-in-ubuntu-overcloud-host-image-b395c8afb6d5b820.yaml
Labels: size: s

#1603 feat: disable `ironic_prometheus_exporter`
  etc/kayobe/kolla.yml
  releasenotes/notes/disable-ironic-prometheus-exporter-894d98022a1e926d.yaml
Labels: size: xs, kolla

#1597 feat: enable `skyline` build
  etc/kayobe/environments/ci-builder/stackhpc-ci.yml
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/pulp.yml
  etc/kayobe/trivy/allowed-vulnerabilities.yml
  releasenotes/notes/enable-building-skyline-61a41c13cfcd54a1.yaml
Labels: enhancement, size: s

#1609 Fix playbook failure due to invalid escaped character
  etc/kayobe/ansible/rabbitmq-reset.yml
Labels: ansible, size: xs

#1602 Fix kolla image build workflow for 2024.1
  etc/kayobe/kolla.yml
  releasenotes/notes/fix-2024.1-kolla-image-build-f78a5524381fa4da.yaml
Labels: bug, size: s, kolla

#1610 Fix RADOS gateway usage exporter deployment
  etc/kayobe/ansible/deploy-radosgw-usage-exporter.yml
  releasenotes/notes/rgw-usage-exporter-deployment-fixes-0196167326dbe456.yaml
Labels: ansible, size: s

#1616 Fix Ceph release conditional
  etc/kayobe/cephadm.yml
  releasenotes/notes/fix-cephadm-facts-2ee6dc9a1c617944.yaml
Labels: size: xs

#1619 Add script to migrate RabbitMQ queues
  releasenotes/notes/rabbitmq-queue-migration-script-b6d3abebbebf8087.yaml
  tools/rabbitmq-queue-migration.sh
Labels: size: m

#1621 Fix typo in OFED guide
  doc/source/contributor/ofed.rst
Labels: documentation, size: xs

#1623 feat: `lint` and `tox` run before `AIO` tests
  .github/workflows/stackhpc-pull-request.yml
Labels: workflows, size: xs

#1617 feat: add `alertmanager-0.28.1`
  doc/source/configuration/monitoring.rst
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/kolla/config/prometheus/prometheus-alertmanager.msteamsv2.yml.example
  releasenotes/notes/bump-alertmanager-958f90fa2bc9b562.yaml
Labels: documentation, monitoring, size: m, kolla

#1629 Add upgrade-prerequisites.sh
  tools/upgrade-prerequisites.sh
Labels: size: s

#1630 Update to Prometheus v3
  .github/workflows/stackhpc-pull-request.yml
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/pulp.yml
  etc/kayobe/trivy/allowed-vulnerabilities.yml
  releasenotes/notes/prometheus-v3-68fd3d9d6cf3e420.yaml
  tools/kolla-images.py
Labels: size: s, kolla
