Repository stackhpc/stackhpc-kayobe-config, pull requests merged in 2025-06, with the labels that each got.

#1681 CI: Configure upstream repository to use for sync
  .github/workflows/upstream-sync.yml
Labels: workflows, size: xs

#1671 Bump Ubuntu package repo versions
  etc/kayobe/pulp-repo-versions.yml
Labels: size: xs

#1692 Bump proxysql to be compatible with K-A bug #2112339 fix
  etc/kayobe/kolla-image-tags.yml
  releasenotes/notes/bump-proxysql-to-fix-bug-2112339-4ff996a807e78204.yaml
  tools/kolla-images.py
Labels: size: s, kolla

#1694 Add support for OpenBao with HA Raft
  doc/source/configuration/monitoring.rst
  etc/kayobe/ansible/openbao-deploy-overcloud.yml
  etc/kayobe/ansible/openbao-deploy-seed.yml
  etc/kayobe/ansible/requirements.yml
  etc/kayobe/environments/ci-multinode/stackhpc-monitoring.yml
  etc/kayobe/environments/ci-multinode/tempest.yml
  etc/kayobe/inventory/group_vars/all/openbao.yml
  releasenotes/notes/add-openbao-raft-ha-e8d78ffe68913512.yaml
Labels: documentation, ansible, size: m

#1696 Disable Skyline build
  etc/kayobe/environments/ci-builder/stackhpc-ci.yml
  etc/kayobe/pulp.yml
  etc/kayobe/trivy/allowed-vulnerabilities.yml
  releasenotes/notes/drop-skyline-support-31d683f58f125335.yaml
  releasenotes/notes/enable-building-skyline-61a41c13cfcd54a1.yaml
Labels: workflows, size: s

#1684 Remove usage of temporary subnet as external net
  etc/kayobe/ansible/configure-aio-resources.yml
Labels: ansible, size: s

#1702 Use rabbitmq length for ``RabbitMQNodeNotDistributed``
  etc/kayobe/kolla/config/prometheus/rabbitmq.rules
Labels: monitoring, size: xs

#1515 Add reminder to remove custom blackbox endpoints
  doc/source/operations/upgrading-openstack.rst
Labels: documentation, size: s

#1471 Add GitLab based Kayobe-Automation
  doc/source/configuration/ci-cd.rst
  etc/kayobe/ansible/deploy-gitlab-runner.yml
  etc/kayobe/ansible/deploy-openbao-kayobe-automation.yml
  etc/kayobe/ansible/requirements.yml
  etc/kayobe/ansible/write-gitlab-pipelines.yml
  etc/kayobe/inventory/group_vars/gitlab-runners/runners.yml
  etc/kayobe/inventory/group_vars/gitlab-writer/writer.yml
  etc/kayobe/inventory/groups
Labels: documentation, ansible, size: l

#1706 CI: Force system clock synchronisation
  etc/kayobe/environments/ci-aio/time.yml
Labels: size: xs

#1717 ansible-lint: make task name unique
  etc/kayobe/ansible/openbao-deploy-overcloud.yml
Labels: ansible, size: xs

#1715 feat: add `neutron_bgp_dragent` tags
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/pulp.yml
  releasenotes/notes/release-neutron-bgp-dragent-tags-39b9c2595ae11872.yaml
Labels: size: xs, kolla

#1718 CI: Upload checksums by default for Ark artifacts
  .github/workflows/ipa-image-build.yml
  etc/kayobe/ansible/pulp-artifact-upload.yml
Labels: workflows, ansible, size: s

#1721 CI: Sync Epoxy Kayobe/Kolla dependencies in CI
  .github/workflows/stackhpc-update-kolla.yml
Labels: workflows, size: xs

#1727 Disable OVS upgrade CI AIO job temporarily
  .github/workflows/stackhpc-pull-request.yml
Labels: workflows, size: s

#1728 Minor fixes to RMQ dashboard
  etc/kayobe/kolla/config/grafana/dashboards/openstack/rabbitmq.json
  releasenotes/notes/rmq-dashboard-5bb5eb36ff72100c.yaml
Labels: monitoring, size: s

#1714 Add Rocky Linux 9.6 (Epoxy)
  etc/kayobe/kolla-image-tags.yml
  etc/kayobe/pulp-repo-versions.yml
  etc/kayobe/pulp.yml
  releasenotes/notes/rl9.6-f46ea1230214a657.yaml
Labels: workflows, size: s, kolla

#1731 CI: Sync multinode release matrix with 2025.1
  .github/workflows/multinode-inputs.py
Labels: workflows, size: xs

#1726 Cherry-pick last changes from stackhpc/master to stackhpc/2025.1
  doc/source/operations/upgrading-openstack.rst
  etc/kayobe/ansible/pulp-artifact-upload.yml
  etc/kayobe/ansible/requirements.yml
  releasenotes/notes/ansible-requirements-bump-89313038efba83b3.yaml
  requirements.txt
Labels: ansible, size: m

#1732 Epoxy: fix & re-enable OVS upgrade jobs
  .github/workflows/stackhpc-pull-request.yml
  etc/kayobe/kolla-image-tags.yml
Labels: workflows, size: s, kolla
